<footer class="container footer   py-3 bg-light">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2020–2021 iCoder, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

